# Notion API - Lấy từ https://www.notion.so/my-integrations
NOTION_API_KEY=secret_xxx...

# ID của Research database - Lấy từ URL database
NOTION_DATABASE_ID=6d00e7344da84e3989d4de1190f5163c

# ID của Projects database - Lấy từ URL database
NOTION_PROJECTS_DATABASE_ID=57dca3355d1f473fba2cdc0b7bad8a48

# ID của Activities database - Lấy từ URL database
NOTION_ACTIVITIES_DATABASE_ID=19894ac8e44d477b91b2a5e955c5f596

# ID của Awards database - Lấy từ URL database
NOTION_AWARDS_DATABASE_ID=c223dfaa4dd2419d89b1f190712c613c

# ID của Blog database - Lấy từ URL database
NOTION_BLOG_DATABASE_ID=04cff4249d29411cbf87b57170a4e4f6
